version: '3.8'

services:
  app:
    build:
      context: .
    container_name: php-fpm
    volumes:
      - .:/var/www/html
    ports:
      - "8001:8001" # Exponemos el puerto 8001
    networks:
      - app-network

  webserver:
    image: nginx:stable
    container_name: nginx
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
